<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>curriculum-details</title>
    <link href="/static/css/lms-main-v1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='main.js'></script>
</head>


<body>
<%include file="header/header.html" args="online_help_token=online_help_token" />
   <center><h2 class="font-weight-bold mt-3" style="font-weight: 500;font-family: 'Oswald', sans-serif;font-size: 28px;">Week Wise Course Sections</h2></center> 
    <div class="row ml-3 mr-3 mt-4">
        <div class="col-sm-3">

        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title font-weight-bold">week 1</h5>
            <p class="card-text"> IN PROGRESS</p>
            
          </div>
        </div>
       </div>

       <div class="col-sm-3">
        <div class="card text-center">
            <div class="card-body text-center">
              <h5 class="card-title font-weight-bold">Week 2</h5>
              <p class="card-text">IN PROGRESS</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title font-weight-bold">Week 3</h5>
              <p class="card-text">IN PROGRESS</p>
            </div>
          </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title font-weight-bold">Week 4</h5>
            <p class="card-text">IN PROGRESS</p>
          </div>
        </div>
    </div>

    </div>
    <br/>
    <%include file="footer.html" />

</body>
</html>