<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>curriculum-details</title>
    <link href="/static/css/lms-main-v1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='main.js'></script>
</head>
<body>
<section class="curriculum-container" style="background-color: #f4f4f4;">
  <section class="highlighted-curriculum">
    <div class="row">
      <div class="col-2">
    <div class="card box p-5 fadeInLeft" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;height: 300px;width: 300px;margin-bottom: 3%;margin-top: 3%;">
    <div class="header">
     <center> <img src="../../static/images/java1.png" alt="curriculum-img" style="height: 150px;width: auto;"></center>
    </div>
    <center><h2 style="font-weight: bold;">Java Curriculum</h2> 
   <a href="/curriculum" style="background-color: #22b1ed;color: #fff;padding: 15px 32px;display: inline-block;font-size: 16px;
   cursor: pointer;margin-top: 2%;">View Details</a></center>
    </div>
  </div>

  <div class="col-2">
    <div class="card box p-5 fadeInLeft" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;height: 300px;width: 300px;margin-bottom: 3%;margin-top: 3%;">
    <div class="header">
     <center> <img src="../../static/images/python.png" alt="curriculum-img" style="height: 100px;width: auto;margin-top: 35px;margin-bottom: 20px;"></center>
    </div>
    <center><h2 style="font-weight: bold;">Python Curriculum</h2> 
   <a href="#" style="background-color: #22b1ed;color: #fff;padding: 15px 32px;display: inline-block;font-size: 16px;
   cursor: pointer;margin-top: 2%;">View Details</a></center>
    </div> 
  </div>
  </div>
  </section>
</section>
</body>
</html>